.imagen_login{
    height: 100px;
}

.link_sesion a{
    text-decoration: none; /* Quitar el subrayado */
    color: inherit;        /* Heredar el color del elemento padre */
}

.link_sesion a h3{
    font-weight: bold;
}

.fondo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../image/huevos-rancheros.jpg'); /* Cambia por la ruta de tu imagen */
    background-size: cover; /* Ajusta la imagen para que cubra toda la pantalla */
    background-position: center;
    filter: blur(5px); /* Aplicar el difuminado a la imagen de fondo */
    z-index: -1; /* Asegura que esté detrás del contenido */
}
.spinner{
    transform: scale(3);
}
#Cartas, #CartasCarrito {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 1px;
    max-height: calc(100vh - 64px);
    overflow-y: auto;
    padding: 1px;
    overflow-x: hidden;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.card .card-image img {
    width: 100%;
    height: 300px; /* Ajusta la altura de las imágenes según sea necesario */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
}

.card-content {
    flex-grow: 1;
}


.formulario_receta{
    border: solid #c5c5c5 1px;
    background-color: #dedede;
    padding: 30px;
    border-radius: 20px;
}

.formato_detalles{
    border: solid #c5c5c5 1px;
    background-color: #dedede;
    padding: 30px;
    border-radius: 20px;
}

.titulo_agregar_receta{
    font-weight: bold;
    text-align: center;
}

.mis_recetas{
    margin-bottom: 30px;
}

.foto_perfil {
    text-align: center;
    
}

.foto_perfil img{
    /* border: solid black 1px; */
    height: 150px;
    padding: 10px;
    border-radius: 30px;
    background-color: #dedede;
}


.imagen img{
    width: 100%;
    border-radius: 20px;
    margin-bottom: 20px;
    height: 400px;
}

.titulo_receta{
    text-align: center;
    margin-bottom: 10px;
}

.titulo_receta h3{
    font-size: 2rem;
    font-weight: bold;
}


.tiempo{
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.tiempo h5{
    font-weight: bold;
}

.ingredientes{
    text-align: center;
    background-color: white;
    border-radius: 10px;
}

.ingredientes h5{
    font-weight: bold;
}

.descripcion{
    text-align: center;
    background-color: white;
    margin-top:30px;
    border-radius: 10px;
}

.descripcion h5{
    font-weight: bold;
}

